name: "mirror v2"
on:
  push:
    branches:
      - refactoring

jobs:
    mirror:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - run: |
                  git remote add remote-repo https://github:${{secrets.GITLAB}}@epos-ci.brgm.fr/epos/backoffice-service.git
                  git fetch --unshallow
                  git push remote-repo refactoring
                  